.card_items {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5), 0px 2px 4px rgba(34,34,34,0.12);
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  position: relative;
  box-sizing: content-box;
  padding-right: 0;
  justify-content: space-between;
}

.card_item-logo {
  border-right: 2px solid #788394;
  border-color: rgba(120,131,148,0.2);
}

.logo_raiting {
  background-color: #EAEFFC;
  border-radius: 80px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 0 8px;
  margin-bottom: 8px;
  height: 28px;
  cursor: help;
  margin-right: 4px;
}

.logo_rating p {
  margin-left: 3px;
}

.logo_raiting-svg {
  margin-right: 5px;
}

.logo_img {
  display: flex;
}

.logo_img-svg {
  z-index: 3;
  color: rgb(107, 205, 238);
  font-weight: 800;
}

.logo_img img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 2px solid rgb(148, 208, 228);
  position: absolute;
  left: 10px;
  padding: 2px;
}

.card_item-name {
  margin-left: 8px;
  margin-right: 25px;
  min-width: 300px;
}

.name_info {
  border-bottom: 2px solid #788394;
  border-color: rgba(120,131,148,0.2);
  cursor: pointer;
}

.name_title {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.name_description {
  color: #39414E;
  font-size: 16px;
  line-height: 18px;
}

.name_about_chanels {
  color: #788394;
  font-size: 12px;
  margin: 8px 0;
}

.name_about_chanels:hover {
  color: black;
}

.name_logo {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  cursor: pointer;
}

.logo_item {
  width: 22px;
  height: 22px;
  background-color: darkgray;
  border-radius: 50%;
  margin-right: 5px;
}

.logo_item-sale {
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.logo_item-trust {
  transform: rotate(180deg);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 2px;
}

.logo_item-author {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 2px;
}

.grey {
  background-color: #EAEFFC;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  grid-gap: 0 12px;
  padding: 8px 16px;
  margin-right: 15px;
  border-radius: 8px;
  padding-right: 0;
}

.card_item-users {
  border-right: 1px solid rgba(120,131,148,0.2);
  padding-right: 12px;
  box-sizing: content-box;
}

.small_title_text {
  color: #808080;
  font-size: 12px;
}

.small_title_count {
  margin-top: 2px;
  font-size: 18px;
}

.person {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(120,131,148,0.2);
  padding-top: 10px;
  margin-top: 3px;
  max-width: 100px;
}

.person_man {
  color:rgb(50, 95, 235);
  font-size: 20px;
}

.person_woman {
  color: red;
  font-size: 20px;
}

.line {
  height: 3px;
  background: rgb(58,94,180);
  background: linear-gradient(90deg, rgba(58,94,180,1) 0%, rgba(157,29,253,1) 50%, rgba(252,174,69,1) 100%);
  margin-top: 4px;
  margin-bottom: 10px;
}

.card_item-views {
  border-right: 1px solid rgba(120,131,148,0.2);
  padding-right: 16px;
  min-width: 90px;
  box-sizing: content-box;
}

.card_item-er {
  border-top: 1px solid rgba(120,131,148,0.2);
  padding-top: 7px;
  margin-top: 2px;
}

.card_item-percent {
  margin-top: 4px;
}

.card_item-cpv {
  cursor: help;
  text-align: center;
  margin-top: 23px;
}

.title_format_left {
  line-height: 12px;
  font-weight: 500;
}

.title_format_right {
  line-height: 12px;
  font-weight: 500;
}

.format {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: auto;
  gap: 4px;
  padding-right: 20px;
}

.format_left-wrapper {  
  border: none;
  text-transform: none;
  display: inline-block;
  text-align: start;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #788394;
  border-radius: 8px;
  line-height: 26px;
  position: relative;
  min-width: 106px;
  margin-top: 3px;
  height: 32px;
}

.format_left_select {
  border: none;
  color: rgb(50, 95, 235);
  background-color: #fff;
  cursor: pointer;
  height: 0px;
  margin-top: 3px; 
}

.input_select-svg {
  position: absolute;
  top: 7px;
  right: 9px;
}

.left_show {
  display: block;
  position: absolute;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  min-width: 140px;
  top: 0;
  border-radius: 8px;
  z-index: 22;
}

.left_show li {
  vertical-align: middle;
  height: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: initial;
  cursor: pointer;
}

.left_show li:hover {
  background-color: rgb(0,0,0,0.04);
  transition: 250ms;
}

.right_show {
  display: block;
  position: absolute;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  min-width: 52px;
  top: 0;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 240px;
  z-index: 20;
}

.right_show li {
  vertical-align: middle;
  height: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: initial;
  cursor: pointer;
}

.right_show li:hover {
  background-color: rgb(0,0,0,0.04);
  transition: 250ms;
}

.format_right-wrapper {  
  border: none;
  text-transform: none;
  display: inline-block;
  text-align: start;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #788394;
  border-radius: 8px;
  line-height: 26px;
  position: relative;
  min-width: 70px;
  margin-top: 3px;
  height: 32px;
}

.format_right_select {
  border: none;
  color: rgb(50, 95, 235);
  background-color: #fff;
  cursor: pointer;
  height: 0px;
  margin-top: 3px;
}

.title_format-right {
  font-weight: 500;
  line-height: 12px;
}

.format_price {
  width: 100%;
  padding-top: 13px;
  margin-top: 12px;
  justify-content: center;
  border-top: 1px solid #788394;
  border-color: rgba(120,131,148,0.2);
  display: flex;
  align-items: center;
}

.format_price-big {
  line-height: 100%;
  font-size: 24px;
  font-weight: 700;
  margin-right: 4px;
}

.format_price-little {
  font-size: calc(100% / 2);
  top: -0.7em;
  opacity: .5;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  margin:0 2px;
}

.card_item-cart {
  margin-left: 20px;
  background-color: #325FEB;
  width: 40px;
  margin: -8px 0px -8px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 12px 12px 0;
  transition: all 250ms ease-in-out;
}

.cart-svg {
  margin-bottom: 10px;
  cursor: pointer;
}

.point-svg {
  cursor: pointer;
}
