.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

.advertising {
  display: flex;
  align-items: center;
}
.advertising__left__title {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  color: #111;
  margin-bottom: 26px;
  max-width: 560px;
}
.advertising__left__title_textYellow {
  box-sizing: border-box;
  padding: 3px 5px;
  background-color: #FBB040;
  color: #fff;
  border-radius: 5px;
}
.advertising__left__text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #657791;
  max-width: 480px;
}
.advertising__left__info {
  margin-top: 34px;
  display: flex;
}
.advertising__left__info__users {
  display: block;
}
.advertising__left__info__users__count {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  color: #111;
  min-width: 170px;
}
.advertising__left__info__users__online, .advertising__left__info__users__month {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #111;
  background: #10F09F;
  border-radius: 2px;
  padding: 3px 6px;
  display: inline-block;
}
.advertising__left__info__users__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #657791;
  margin-top: 6px;
  display: inline-block;
}

.advertising__left__info li:not(:last-child) {
  margin-right: 30px;
}

.advertising__left__info li p:nth-child(2) {
  max-width: 150px;
}

.advertisingLeft__buy {
  padding: 8px 16px;
  margin-left: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  background-color: #325FEB;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 0;
  height: 56px;
  display: inline-block;
  background: #325FEB;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 10px;
  color: white;
  position: relative;
}
.advertisingLeft__buy:hover {
  background-color: #fbb040;
  color: white;
  border: none;
  transition: all 450ms ease-in-out;
}

.advertistingRight_video {
  position: relative;
  width: 100%;
}

.container {
  max-width: 960px;
  background-color: white;
  padding: 45px 80px 55px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.green {
  color: #fff;
  background: #10F09F;
  padding: 0 6px;
  border-radius: 6px;
  font-weight: bold;
}

.title {
  font-style: normal;
  color: #000;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin-bottom: 18px;
}

.description {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #869AB7;
  margin-bottom: 25px;
}

.main {
  padding-top: 25px;
  display: flex;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(34, 34, 34, 0.12);
  border-radius: 10px;
  padding-bottom: 20px;
}

.left {
  min-width: 460px;
  margin: 0 20px 0 30px;
}
.left__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 13px;
  color: #869AB7;
}
.left__select {
  width: 100%;
  height: 55px;
  border: 2px solid #325FEB;
  border-radius: 6px;
  padding: 12px 20px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-size: 15px;
  background-image: url("https://img2.freepng.ru/20180421/cbw/kisspng-vitrified-tile-ceramic-advertising-5adb6b4c6fc1e3.5426463315243292924578.jpg");
  background-repeat: no-repeat;
  background-position: 420px;
  padding-right: 20px;
  padding: 6px 24px 6px;
  margin-bottom: 50px;
}
.left__option {
  font-style: normal;
  font-size: 24px;
  color: #869AB7;
}

.followers {
  display: flex;
}
.followers__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 30px;
  color: #869AB7;
}
.followers__count {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  flex-grow: 0;
  margin-left: auto;
}

.right {
  min-width: 260px;
  border-left: 1px solid #e4e4e4;
  margin-left: 15px;
  padding-left: 35px;
}
.right__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
  color: #869AB7;
}
.right__price {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  flex-grow: 0;
  margin-bottom: 32px;
}
.right__button {
  padding: 8px 16px;
  margin-left: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  background-color: #325FEB;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 0;
  font-weight: 600;
  padding: 19px 15px;
}
.right__button:hover {
  background-color: #fbb040;
  color: white;
  border: none;
  transition: all 450ms ease-in-out;
}/*# sourceMappingURL=HowMany.module.css.map */