.footer {
  background-color: #eaeffc;
  padding: 24px 0;
  color: #657791;
  font-family: 'Raleway', sans-serif;
  line-height: 120%;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 48px);
}

.item__title {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.footer__item {
  margin-right: 12px;  max-width: 212px;
  cursor: pointer;
}

.telega__info {
  width: 180px;
}
.list__items {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.list__item {
  line-height: 20px;
  margin-bottom: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
